*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background: radial-gradient(#000000, skyBlue)
} 
.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;    

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0,0, 0.3);
    font-size: 8vmin;
    background-color: #CADCAE;
}
#resetbtn{
    padding: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: 1.25rem;
}
#newbtn{
    padding: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: 1.25rem;
}
#msg{
    font-size:2.5rem;
    color: azure;
}
.hide{
    display: none;
}
